*, *:after, *:before {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  position: relative;
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: black;
  text-align: left; }

img {
  width: 100%;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border: solid black 1px; }

h1 {
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 24px; }

h3 {
  font-size: 12px; }

p {
  margin-bottom: 24px; }
  p:last-child {
    margin: 0; }

input {
  height: 60px;
  background-color: white;
  border: solid black 1px;
  border-radius: 0;
  padding: 16px;
  font-size: 18px;
  color: black;
  width: 100%; }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  cursor: pointer; }
  .btn.btn-primary {
    border: solid black 1px; }
    .btn.btn-primary:active {
      background-color: black;
      color: white; }

.colored-text {
  color: #EC2059;
  font-weight: 500; }

.bolder {
  font-weight: 500; }

.link-btn {
  cursor: pointer;
  margin-bottom: 32px; }
  .link-btn:hover {
    text-decoration: underline; }

.home-btn {
  font-size: 12px;
  text-transform: uppercase;
  width: fit-content;
  margin-bottom: 64px;
  cursor: pointer; }
  .home-btn:hover {
    text-decoration: underline; }

.title {
  margin-bottom: 64px; }

.sub-title {
  margin-bottom: 24px; }

.modal-shadow {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 100; }
  .modal-shadow.show {
    display: block; }

.modal {
  display: none;
  width: 624px;
  padding: 64px 104px;
  margin: 150px auto;
  left: 10px;
  right: 10px;
  position: fixed;
  z-index: 200;
  border: solid black 1px;
  background-color: white; }
  .modal.show {
    display: block; }
  .modal .modal-error {
    display: none;
    margin-top: -56px;
    margin-bottom: 38px; }
    .modal .modal-error.show {
      display: block; }
  .modal h2 {
    margin-bottom: 24px; }
  .modal input {
    margin-bottom: 64px; }
  .modal .btn-section {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center; }

section.page {
  display: none; }
  section.page.show {
    display: block; }

.container {
  position: relative;
  min-height: 100vh;
  width: 1020px;
  padding: 104px 32px 64px 32px;
  margin: 0 auto; }

.content-section {
  width: 100%;
  margin-bottom: 64px; }
  .content-section.last {
    margin-bottom: 104px; }
  .content-section.link-section {
    padding-top: 64px;
    border-top: solid black 1px; }
  .content-section.two-col {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: start; }
    .content-section.two-col .col-content {
      width: 48%; }
  .content-section.imgs-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: start; }
    .content-section.imgs-row img {
      height: 200px;
      width: auto; }
    .content-section.imgs-row.ez img:first-child {
      height: 230px; }
    .content-section.imgs-row.ez img:last-child {
      height: 410px; }

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 24px 0;
  margin: 0 30px;
  border-top: solid black 1px; }

.width-custom-650 {
  width: 650px; }

.width-custom-740 {
  width: 740px; }

.width-custom-726 {
  width: 726px; }

.height-custom-410 {
  height: 410px;
  width: auto; }

@media (max-width: 1020px) {
  body {
    font-size: 16px; }

  .container {
    width: 100%; }

  .content-section.imgs-row img {
    height: 150px; }
  .content-section.imgs-row.ez img:first-child {
    height: 180px; }
  .content-section.imgs-row.ez img:last-child {
    height: 310px; } }
@media (max-width: 800px) {
  .container {
    padding-top: 64px; }

  .modal {
    left: 20px;
    right: 20px;
    width: calc(100% - 40px);
    margin-top: 20px;
    padding: 30px; }
    .modal div, .modal input, .modal h2 {
      font-size: 14px; }
    .modal .btn {
      font-size: 12px; }

  .width-custom-650 {
    width: 100%; }

  .width-custom-740 {
    width: 100%; }

  .width-custom-726 {
    width: 100%; }

  .height-custom-410 {
    width: 100%;
    height: auto; }

  .content-section.two-col {
    flex-flow: column; }
    .content-section.two-col .col-content {
      width: 100%; }
      .content-section.two-col .col-content:first-child {
        margin-bottom: 64px; }
  .content-section.imgs-row {
    flex-flow: column; }
    .content-section.imgs-row img {
      height: auto;
      width: 100%; }
      .content-section.imgs-row img:first-child {
        margin-bottom: 24px; }
    .content-section.imgs-row.ez img:first-child {
      height: auto; }
    .content-section.imgs-row.ez img:last-child {
      height: auto; } }

/*# sourceMappingURL=main.css.map */
